<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>home</servlet-name>
    <jsp-file>/jsp/completeHtmlPages/home_complete.jsp</jsp-file>
    <init-param>
    	<param-name>pageName</param-name>
    	<param-value>home</param-value>
    </init-param>
  </servlet>
  
  <servlet>
    <servlet-name>dowJones</servlet-name>
    <jsp-file>/jsp/base.jsp</jsp-file>
    <init-param>
    	<param-name>pageName</param-name>
    	<param-value>dowJones</param-value>
    </init-param>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>home</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>dowJones</servlet-name>
    <url-pattern>/dowJones</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MobileWebsite.html</welcome-file>
  </welcome-file-list>

</web-app>
